GROQ_API_KEY=<GROQ_API_KEY>

ITERATION=1
#DATASET_MODEL=llama-3.3-70b-versatile
# DATASET_MODEL=openai/gpt-oss-120b
DATASET_TEMPERATURE=0.7
#JUDGE_MODEL=openai/gpt-oss-120b
#JUDGE_PROMPT_ITERATION=6
#JUDGE_MAX_COMPLETION_TOKENS=1200
JUDGE_TEMPERATURE=0.3
